<h1>You should visit the Freedom Trail!</h1>
<body> 
  <img src = "https://assets1.roadtrippers.com/uploads/poi_gallery_image/image/328671068/-quality_60_-interlace_Plane_-resize_1024x480_U__-gravity_center_-extent_1024x480/poi_gallery_image-image-06d07599-a03d-4962-9e10-552bff15b381.jpg" width = 1024 height = 480>
  <img src = "https://farm3.staticflickr.com/2530/3780518024_432eb08df2.jpg" width = 500 height = 500>
  <p>The Freedom Trail contains 17 historic landmarks from the development of the US! it takes about 2-3 hours to walk and is 2.5 miles long.</p>
</body>