<h1>You should workout at Handle Bar Cycling!</h1>
<body>
  <img src = "https://cdn10.bostonmagazine.com/wp-content/uploads/2013/07/handlebarmain2.jpg">
  <p>Jump on the trend, and a bike, and take part in a cycling class at one of Boston's hottest workout spots. </p>
</body>