<h1>You should eat breakfast at Southstreet Diner!</h1>
<body>
  <img src = "https://i.pinimg.com/originals/a4/70/a8/a470a8cd279bbc85f7a047001f3f8403.jpg"
  <p>This retro diner is a Boston classic, famous for their Diner Special!</p>
</body>