<h1>You should eat lunch at James Hook and Company!</h1>
<body>
  <img src = "https://www.jameshooklobster.com/includes/templates/theme405/images/slider/slide1.png"> 
  <p>Eat like a true New Englander at James Hook and Company! Enjoy their fresh lobster and clam chowder while visting Boston's waterfront.</p>
</body>