<h1>You should eat dinner aboard the Odyssey Boston!</h1>
<body> 
  <img src = "https://www.odysseycruises.com/cache/widgetkit/gallery/293/01-odyssey-boston-dinner-cruises-views-1920x750-2-6ebf63707c.jpg">
  <p>Experience the Boston coast through this unique dining experience aboard the Odyssey!</p>
</body>