<h1>You should visit Fenway Park!</h1>
<body>
  <img src = "https://sunbeamwhdh.files.wordpress.com/2017/01/fenway_park04.jpg?quality=60&strip=color&w=1024">
  <p>This historic baseball field is the oldest in the USA. Whether the Red Sox are in season or not, it is definetly worth a visit!</p>
</body>