<h1>You should go shopping on Michigan Avenue!</h1> 
  <body>
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Michigan_Avenue_-_Chicago.jpg/1200px-Michigan_Avenue_-_Chicago.jpg">
    <p>Michicgan Avenue is known as the Magnificent Mile for a reason! It is visited by thousands of people everyday looking for high-end fashion, as well as deals and steals.</p>
  </body>
