<h1>You should go to Millenium Park!</h1>
<body>
  <img src = "https://media.giphy.com/media/Ngz66loQ51lGU/giphy.gif">
  <p>Catch a movie or concert in the park, play in the fountains, or look at your reflection in The Bean at this famous park!</p>
</body>