<h1>You should watch a show at Second City Theater!</h1>
<body>
  <img src = "http://www.aroundthetownchicago.com/wp-content/uploads/2012/02/UP_Club_Interior_001.jpg" width = 700  height = 500>
  <p>Second City is the spot for the best comedy in Chicago! </p>
</body>