

  <form method="POST" action="/chicago_quiz">
  <h2>What would you like to do in Chicago?</h2>
    <input type="radio" name="activity" value="Workout">Workout<br>
    <input type="radio" name="activity" value="Eat breakfast">Eat breakfast<br>
    <input type="radio" name="activity" value="Go shopping">Go shopping<br>
    <input type="radio" name="activity" value="Eat lunch">Eat lunch<br>
    <input type="radio" name="activity" value="Visit a local landmark">Visit a local landmark<br>
    <input type="radio" name="activity" value="Find entertainment ">Find entertainment<br>
    <input type="radio" name="activity" value="Eat dinner and dessert">Eat dinner and dessert<br>
    
  <button type="submit"> Submit!!!</button>
</form>
  