<h1>You should go to Lou Malnati's Pizzeria!</h1>
<body>
  <img src = "http://www.edgevillebuzz.com/wp-content/uploads/malnati-1-300x300.jpg">
  <p>What's a trip to Chicago without deep dish pizza! Don't miss out on Lou's amazing deepdish pizza and salads! </p>
</body>