<h1>You should watch a show at Second City Theater!</h1>
<body>
  <src = "http://www.georgejewell.com/wp-content/uploads/2013/07/second_city.png">
  <p>Second City is the spot for comedy that can only be found in Chicago! </p>
</body>