 <form method="POST" action="/result">
  <h2>What would you like to do in Chicago?</h2>
    <input type="radio" name="city" value="Workout">Workout<br>
    <input type="radio" name="city" value="Eat Breakfast">Eat Breakfast<br>
    <input type="radio" name="city" value="Go Shopping">Go Shopping<br>
    <input type="radio" name="city" value="Eat Lunch">Eat Lunch<br>
    <input type="radio" name="city" value="Visit a local landmark">Visit a local landmark<br>
    <input type="radio" name="city" value="Find Entertainment ">Find Entertainment<br>
    <input type="radio" name="city" value="Eat Dinner and Dessert">Eat Dinner and Dessert<br>
    
  <button type="submit"> Submit!!!</button>
</form>