<h1>You should visit the Henry Ford Museum!</h1>
<body>
  <img src = "https://www.amtrak.com/content/dam/projects/dotcom/english/public/images/FeatureBanner/feature-banner-ford-museum.jpg/_jcr_content/renditions/cq5dam.web.843.474.jpeg">
  <p>This museum outlines the production line created by Henry Ford which started the production of cars in America!</p>
</body>