 <form method="POST" action="/detroit_quiz">
  <h2>What would you like to do in Detroit?</h2>
    <input type="radio" name="activity" value="workout">Workout<br>
    <input type="radio" name="activity" value="breakfast">Eat Breakfast<br>
    <input type="radio" name="activity" value="shopping">Go Shopping<br>
    <input type="radio" name="activity" value="lunch">Eat Lunch<br>
    <input type="radio" name="activity" value="landmark">Visit a Local Landmark<br>
    <input type="radio" name="activity" value="entertainment">Find Entertainment<br>
    <input type="radio" name="activity" value="dinner">Eat Dinner and Dessert<br>
    
  <button type="submit"> Submit!!!</button>
</form>