<h1>You should go shopping in Greektown!</h1>
<body>
  <img src = "https://opportunitydetroit.com/wp-content/uploads/2016/07/GreektownatSundown-20160618-144-980x551.jpg">
  <p>Greektown is a great spot for nightlife in the summer!</p>
</body>