<h1>You should eat lunch at Lafayette Coney Island!</h1>
<body>
  <img src = "http://theeatenpath.com/wordpress/wp-content/uploads/2009/11/lafayette_coney_island_hot_dogs_detroit_michigan_ext.jpg">
  <p>This hot dog shop is famous for their giant hot dogs and fun atmosphere!</p>
</body>