<h1>You should eat breakfast at Fourteen East Cafe!</h1>
<body>
  <img src = "https://igx.4sqi.net/img/general/699x268/575441_zJQ6lGT22qmyspOJiw20OiDFOGxhvwv6cwt6quKV_Tc.jpg">
  <p>Enjoy a unique latte at this fun coffee shop!</p>
</body>