<h1>You should eat dinner at Giovanni's!</h1>
<body>
  <img src = "http://rivista-cdn.hourdetroit.com/Hour-Detroit/February-2012/Review-Culinary-Beacon/111108_hr1_giov%200568_cx.jpg">
  <p>Enjoy a family style Italian meal at this cozy Detroit stop!</p>
</body>