<h1>You should go to the Motown Museum </h1>
<body>
  <img src = "http://img.timeinc.net/time/photoessays/2010/travel_detroit/motown_museum.jpg">
  <p>Celebrate the history of Motown Music in this gem of pure Michigan!</p>
</body>