<h1>You should workout at Live Cycle Delight!</h1>
<body>
  <img src = "http://www.dailydetroit.com/wp-content/uploads/2017/03/IMG_0326.jpg" width = 700 height = 500>
  <p>Join Live Cycle Delight for a spin class while in Detroit!</p>
</body>