 <form method="POST" action="/detroit_quiz">
  <h2>What would you like to do in Detroit?</h2>
    <input type="radio" name="activity" value="Workout">Workout<br>
    <input type="radio" name="activity" value="Eat Breakfast">Eat Breakfast<br>
    <input type="radio" name="activity" value="Go Shopping">Go Shopping<br>
    <input type="radio" name="activity" value="Eat Lunch">Eat Lunch<br>
    <input type="radio" name="activity" value="Visit a local landmark">Visit a Local Landmark<br>
    <input type="radio" name="activity" value="Find Entertainment ">Find Entertainment<br>
    <input type="radio" name="activity" value="Eat Dinner and Dessert">Eat Dinner and Dessert<br>
    
  <button type="submit"> Submit!!!</button>
</form>