<form method="POST" action="/result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Nyc">New York City<br>
    <input type="radio" name="city" value="Boston">Boston <br>
    <input type="radio" name="city" value="Philladelphia">Philladelphia<br>
    
  <button type="submit"> Submit!!!</button>
</form>
  