<form method="POST" action="/result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Chicago">Chicago <br>
    <input type="radio" name="city" value="Detroit">Detroit <br>
    <input type="radio" name="city" value="Milwaukee">Milwaukee<br>
    <input type="radio" name="city" value="St. Louis">St. Louis<br>
    
  <button type="sumbit"> Submit!!!</button>
</form>
  
  