<h1>You should workout at 305 Fitness!</h1>
<body> 
  <img src = "https://www.usnews.com/dims4/USNEWS/14f5231/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F7a%2F3c%2Fffba6f114098924cac5847524fa6%2Fdanceparty2.jpg">
  <p>This workout spot combines dance and cardio for the perfect workout!</p>
</body>