<h1>You should dinner at Le Coucou!</h1>
<body> 
  <img src = "https://media.wmagazine.com/photos/585367b09c190ec57ac07fae/master/w_860,h_600,c_limit/wmag_lecoucou_6.jpg">
  <p>This upscale French dining spot is worth the price, as it delivers in its food.</p>
</body>