<h1>You should visit Central Park!</h1>
<body> 
  <img src = "https://media.timeout.com/images/103451632/image.jpg" width = 700 height = 500>
  <p>Central Park is the perfect spot for a bike ride or scenic walk!</p>
</body>