<h1>You should eat at Sarabeth's East!</h1>
<body> 
  <img src = "https://cdn.vox-cdn.com/thumbor/REaM1fz3uJxo8q3br0JH-9fmKcU=/0x0:1000x562/970x728/filters:focal(420x201:580x361):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/59379069/o__15_.0.0.0.0.jpg">
  <p>This breakfast place puts a spin on breakfast foods, making them enjoyable for the whole family.</p>
</body>