<h1>You should visit the Liberty Bell!</h1>
<body>
  <img src = "https://travel.usnews.com/static-travel/images/destinations/45/liberty_bell_-2015.jpg">
  <p>Visit the historic bell that announced a town meeting for our founding fathers over 200 years ago!</p>
</body>