<h1>You should eat dinner at Laurel!</h1>
<body>
  <img src= "http://media.philly.com/images/20140209_inq_aecraig09z-a.JPG">
  <p>For an upscale dining experience, visit Laurel, and try their Frech and American cuisine!</p>
</body>