 <form method="POST" action="/philladelphia_quiz">
  <h2>What would you like to do in Philladelphia?</h2>
    <input type="radio" name="activity" value="workout">Workout<br>
    <input type="radio" name="activity" value="breakfast">Eat breakfast<br>
    <input type="radio" name="activity" value="shopping">Go shopping<br>
    <input type="radio" name="activity" value="lunch">Eat lunch<br>
    <input type="radio" name="activity" value="landmark">Visit a local landmark<br>
    <input type="radio" name="activity" value="entertainment">Find entertainment<br>
    <input type="radio" name="activity" value="dinner">Eat dinner and dessert<br>
    
  <button type="submit"> Submit!!!</button>
</form>