<h1>You should visit Eakins Oval!</h1>
<body> 
  <img src = "http://philart.net/images/large/washmo7.jpg">
  <p>You can view a statue of Wahington in this park in front of the Phillidelphia Art Museum, then go visit the museum or enjoy a snack in the shade!</p>
</body>