<form method="POST" action="/region">
  <h2>Which region of the US would you like to visit?</h2>
    <input type="radio" name="region" value="Midwest">Midwest <br>
    <input type="radio" name="region" value="South">South <br>
    <input type="radio" name="region" value="Southeast">Southeast<br>
    <input type="radio" name="region" value="Westcoast">West Coast<br>
    <input type="radio" name="region" value="Eastcoast">East Coast<br>
    
  <button type="submit"> Submit!!!</button>
</form>
  