<form method="POST" action="/result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Austin">Austin <br>
    <input type="radio" name="city" value="Neworleans">New Orleans <br>
    <input type="radio" name="city" value="Atlanta">Atlanta<br>
    <input type="radio" name="city" value="Nashville">Nashville<br>
    
  <button type="submit"> Submit!!!</button>
</form>
  