<form method="POST" action="/result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Miami">Miami <br>
    <input type="radio" name="city" value="Charlotte">Charlotte <br>
    <input type="radio" name="city" value="Dc">Washington DC<br>
    
  <button type="submit"> Submit!!!</button>
</form>
  