<form method="POST" action="/westcoast_result">
  <h2>Which city would you like to visit?</h2>
    <input type="radio" name="city" value="Phoenix">Phoenix <br>
    <input type="radio" name="city" value="La">Los Angeles <br>
    <input type="radio" name="city" value="Seattle">Seattle<br>
    
  <button type="submit"> Submit!!!</button>
</form>
  